body {
    background-color: var(--yellow);
    font-family: 'Figtree', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 12px; 
    padding: 1.25rem; 
    max-width: 20rem; 
    border-radius: 12px; 
    border: 1px solid var(--black);
    box-shadow: 8px 8px 0 var(--black);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.learning {
    background-color: var(--yellow);
    font-weight: 700;
    padding: 0.25rem 0.75rem;
    width: fit-content;
    border-radius: 0.25rem;
}

.date {
    font-size: 0.8rem;
}

.title {
    font-size: 1.4rem;
    font-weight: 800;
}

.title a {
    color: var(--black);
    text-decoration: none;
}

.title a:hover {
    color: var(--yellow);
}

.text {
    font-size: 1rem;
    color: var(--gray);
    font-weight: 500;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 12px; 
    gap: 12px; 
}

.profile img {
    width: 1.875rem;
}

.name {
    font-weight: 700;
    font-size: 1rem;
}
